{% extends "layout/index.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <style>
        table.dataTable tr.odd { background-color: lightgrey;  border:1px lightgrey;}
        table.dataTable tr.even{ background-color: white; border:1px lightgrey; }
    </style>
{% endblock %}

{% block body %}
    {% if not filterColumns %}
        {% set filterColumns = ['metadata'] %}
    {% endif %}
    <table id="example"><tfoot><tr></tr></tfoot></table>
    <script>
    $(document).ready( function () {
        function format(string) {
            string = string.charAt(0).toUpperCase() + string.slice(1);
            string = string.replace(/_/g, ' ')
            return string
        }
        function isJsonArray(str) {
            try {
                result = JSON.parse(str);
                return Object.prototype.toString.call(result) === '[object Array]'
            } catch (e) {
                return false;
            }
            return true;
        }
        $.ajax({
            url: '{{ url|raw }}',
            success: function (data) {
                var columns = [];
                columnNames = Object.keys(data.data[0]);
                for (var i in columnNames) {
                    if ({{ filterColumns|json_encode()|raw }}.indexOf(columnNames[i]) != -1) {
                        continue
                    }
                    columns.push({
                        data: columnNames[i],
                        title: format(columnNames[i]),
                        render: (data, type, row, meta) => {
                            if (type === 'display') {
                                if (isJsonArray(data)) {
                                    var jsonData = JSON.parse(data)
                                    var table = "<table border=\"1\">\n"
                                    for(var i=0;i<jsonData.length;i++)
                                    {
                                        if (typeof jsonData[i] !== 'object') {
                                            continue
                                        }
                                        // primeira linha
                                        if (i === 0) {
                                            table += "<thead>\n<tr>"
                                            Object.keys(jsonData[i]).forEach(function(key) {
                                                table += '<th>'+format(key) + '</th>'
                                            })
                                            table += "</tr>\n</thead>\n<tbody>\n"
                                        }
                                        table += '<tr>'
                                        Object.keys(jsonData[i]).forEach(function(key) {
                                            table += '<td>'+jsonData[i][key] + '</td>'
                                        })
                                        table += "</tr>\n</tbody>\n"
                                    }
                                    table += '</table>'
                                    if (table.includes('<td>')) {
                                        data = table
                                    }
                                }
                            }
                            return data
                        },
                    });
                }

                // Adiciona footer vazio onde o filtro será incluso
                $('#example tfoot tr').append('<th></th>'.repeat(columns.length))

                var DataTablesLinkify = function(dataTable) {
                    this.dataTable = dataTable
                    this.url = location.protocol+'//'+location.host+location.pathname
                    // Gera um link com base no contexto
                    this.link = function() {
                        let params = new URLSearchParams(window.location.search)
                        $('#example_wrapper .dataTables_scrollFoot th input').each((i,e) => {
                            if (e.value.length > 0) {
                                params.set(e.name, e.value)
                            } else {
                                params.delete(e.name)
                            }
                        })
                        if (this.dataTable.search().length > 0 ) {
                            params.set('dtsearch', this.dataTable.search())
                        }
                        if (this.dataTable.page() > 0 ) {
                            params.set('dtpage', this.dataTable.page())
                        }
                        let url = this.url;
                        if (params.size > 0) {
                            url += '?' + new URLSearchParams(params).toString()
                        }
                        return url
                    }
                    //based on http://stackoverflow.com/a/901144/1407478
                    this.getParam = function(name) {
                        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]")
                        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)")
                        var results = regex.exec(location.search)
                        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "))
                    }
                    // Executado após o DataTable ser inicializado para restaurar o contexto da URL
                    this.restore = function() {
                        let dataTable = this
                        urlParams = new URLSearchParams(window.location.search)
                        urlParams.forEach((value, key) => {
                            if (value.length === 0) {
                                return
                            }
                            let seletor = '#example_wrapper .dataTables_scrollFoot input[name="' + key + '"]'
                            if (key === 'dtsearch') {
                                dataTable.dataTable.search(value).draw(false)
                            } else if (key === 'dtpage') {
                                dataTable.dataTable.page(parseInt(value)).draw(false)
                            } else if ($(seletor).length > 0) {
                                $(seletor).val(value)
                                $(seletor)[0].dispatchEvent(new Event("keyup"))
                            } else {
                                console.log(key, value);
                            }
                        });
                    }
                    return this
                }

                var table = $('#example').DataTable({
                    scrollX: true,
                    data:    data.data,
                    columns: columns,
                    fixedHeader: {
                        header: false,
                        footer: true
                    },
                    // Filtro no rodapé
                    initComplete: function () {
                        linkify = DataTablesLinkify($('#example').DataTable())
                        $('#example_filter input').keyup(() => {
                            window.history.pushState({}, "", linkify.link());
                        })
                        this.api()
                            .columns()
                            .every(function (a) {
                                let column = this;
                                // Create input element
                                let input = document.createElement('input')
                                input.placeholder = columns[a].title
                                input.name = columns[a].data
                                column.footer().replaceChildren(input)

                                // Event listener for user input
                                input.addEventListener('keyup', () => {
                                    window.history.pushState({}, "", linkify.link())

                                    if (column.search() !== this.value) {
                                        column.search(input.value).draw()
                                    }
                                })
                            })
                        linkify.restore()
                    }
                })
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#example').html(xhr.responseText)
            },
        });
    })
    </script>
{% endblock %}