###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/volumes/
/vendor-bin/**/vendor/
/storage/
.vscode
.env
cookies.json
/*.ods
.php-cs-fixer.cache
.~lock.*#
.phpunit.cache
clover.xml