networks:
  internal:
    external: true
    name: internal

services:
  php:
    build:
      context: .docker/php
    tty: true
    volumes:
      - ./:/app
      - ./.docker/php/wait-for-db.php:/var/www/scripts/wait-for-db.php
    environment:
      - HOST_UID=${HOST_UID:-1000}
      - HOST_GID=${HOST_GID:-1000}
      - XDEBUG_CONFIG
      - TZ
    networks:
      - internal
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./:/app:ro
      - .docker/web/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - internal
    ports:
      - 80:80
  mysql:
    image: mysql
    cap_add:
      - SYS_NICE  # CAP_SYS_NICE
    volumes:
      - ./.docker/mysql/conf:/etc/mysql/conf.d
      - ./volumes/mysql/dump:/docker-entrypoint-initdb.d
      - ./volumes/mysql/data:/var/lib/mysql
    ports:
      - 3306:3306
    restart: unless-stopped
    environment:
      - TZ
      - MYSQL_HOST
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD