{% extends "layout/index.html.twig" %}

{% block title %}Zerar banco local{% endblock title %}

{% block head %}
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-3.7.0.js"></script>
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

        .alert.success {background-color: #04AA6D;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
{% endblock head %}

{% block body %}
    <form id="form-gera-producao">
        <fieldset>
            <legend>Produção realizada em</legend>
            <label for="month">Ano/mês</label>
            <select id="year" name="year">
            {%~ for j in range(now|date('Y')-1, now|date('Y')+1) %}
                <option{% if inicio_ano == j %} selected{% endif %}>{{ j }}</option>
            {%~ endfor %}
            </select>
            <select id="month" name="month">
            {%~ for j in 1..12 %}
                <option{% if inicio_mes == j %} selected{% endif %}>{{ "%02d"|format(j) }}</option>
            {%~ endfor %}
            </select>
        </fieldset>
        <fieldset>
            <legend>Baixar dados</legend>
            <input type="radio" id="baixar_dados_nao" name="baixar_dados" value="0"{% if baixar_dados == 0 %} checked{% endif %} /><label for="baixar_dados_nao">Não</label>
            <input type="radio" id="baixar_dados_sim" name="baixar_dados" value="1"{% if baixar_dados == 0 %} checked{% endif %} /><label for="baixar_dados_sim">Sim</label>
        </fieldset>
        <fieldset>
            <legend>Atualiza produção</legend>
            <input type="radio" id="atualiza_producao_nao" name="atualiza_producao" value="0"{% if atualiza_producao == 0 %} checked{% endif %} /><label for="atualiza_producao_nao">Não</label>
            <input type="radio" id="atualiza_producao_sim" name="atualiza_producao" value="1"{% if atualiza_producao == 1 %} checked{% endif %} /><label for="atualiza_producao_sim">Sim</label>
        </fieldset>
        <br />
        <input type="submit" value="Executa" id="submit" />
    </form>
    <div id="messages"></div>
    <script>
        $('#form-gera-producao').submit( function(e) {
            e.preventDefault()

            const ItemMessage = (type, data) => '<div class="alert ' + type + '">' + '<span class="closebtn">&times;</span>' + data + '</div>';

            $('#messages').html('')

            const eventSource = new EventSource(
                '{{ url|raw }}?' + $('#form-gera-producao').serialize()
            )
            eventSource.addEventListener('info', e => {
                $('#messages').append(ItemMessage(e.type, JSON.parse(e.data)))
            })
            eventSource.addEventListener('alert', e => {
                $('#messages').append(ItemMessage(e.type, JSON.parse(e.data)))
            })
            eventSource.addEventListener('warning', e => {
                $('#messages').append(ItemMessage(e.type, JSON.parse(e.data)))
            })
            eventSource.addEventListener('done', e => {
                $('#messages').append(ItemMessage('success', JSON.parse(e.data)))
                eventSource.close()
                $('#messages').append('Volte para a página anterior e veja os relatórios')
            })

            $('#messages').on('click', '.closebtn', function() {
                $(this).parent().fadeTo(600, 0, function() {
                    $(this).hide('slow')
                });
            });
        })
    </script>
{% endblock %}
