{% extends "layout/index.html.twig" %}

{% block title %}Home{% endblock title %}

{% block body %}
    <ul>
    {% for page in pages %}
        <li>
            <a href="{{ page.url }}">{{page.label}}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
