{% extends "layout/index.html.twig" %}

{% block title %}Home{% endblock title %}

{% block body %}
    <ul>
        <li>
            Relatórios
            <ul>
            {% for relatorio in relatorios %}
                <li>
                    <a href="{{ relatorio.url }}">{{relatorio.label}}</a>
                </li>
            {% endfor %}
            </ul>
        </li>
        <li>
            Ações
            <ul>
            {% for acao in acoes %}
                <li>
                    <a href="{{ acao.url }}">{{acao.label}}</a>
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}
