{% extends "layout/index.html.twig" %}

{% block body %}
    <div>
    Esta tabela retorna as <strong>transações de um mês</strong> específico. Para trocar o mês, altere o <strong>ano-mes</strong> na URL desta página.
    </div>
    {{ include('layout/components/datatable\.html.twig') }}
{% endblock %}
